<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AviLight" parallel="none">
  <test name="Comm" preserve-order="true">
    <classes>
      <class name="de.prim.test.TestProtocol" />
      <class name="de.prim.test.TestTelegramSeparator" />
    </classes>
  </test>
</suite>
